:global {
    .am-toast-notice-content {
        top: -100px;
    }
    .am-list-item .am-list-line .am-list-content {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .am-textarea-control {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .am-image-picker .am-image-picker-list {
        margin-bottom: 0;
    }
    .x-detail-list .x-detail-item {
        font-size: 34px;
        word-break: break-all;
        //color: #999;
    }
    .x-detail-list .am-textarea-control {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .am-list-item .am-input-label,
    .am-textarea-label {
        font-weight: bold;
    }
    .x-list-item.am-list-item .am-list-line .am-list-content {
        width: 238px;
        font-weight: bold;
        flex: initial;
        margin-right: 10px;
    }
    .x-list-item.am-list-item .am-list-line .am-list-extra {
        flex-basis: initial;
        color: #000;
    }
    .x-required {
        color: red;
        font-weight: normal;
        vertical-align: middle;
    }
    .x-activity-page {
        margin-bottom: 84px;
    }
}
