:global {
    .am-toast-notice-content {
        top: -100px;
    }
    .am-list-item .am-list-line .am-list-content {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .am-image-picker .am-image-picker-list {
        margin-bottom: 0;
    }
}
