@import url(iconfont.css);
html,
body,
input {
  margin: 0;
  padding: 0; }

body {
  background: #EAEAEA; }

i {
  font-style: normal; }

.preview-image {
  display: block;
  width: 100%;
  height: 10rem;
  background: #fff;
  text-align: center;
  overflow: hidden; }
  .preview-image img {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: auto; }

.detail-wrap section {
  margin-top: 0;
  padding: 14px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }

.info-empty {
  width: 100%;
  text-align: center;
  line-height: 2rem;
  color: #cccccc; }

.info-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.3rem 0; }
  .info-item .info-category {
    position: relative;
    width: 5rem;
    text-align: left;
    line-height: 2rem;
    color: #999;
    font-size: 0.8rem; }
    .info-item .info-category span {
      position: absolute;
      right: 0.75rem;
      text-align: right;
      color: white; }
  .info-item .info-input {
    flex: 1;
    -webkit-flex: 1; }
    .info-item .info-input input {
      width: 95%;
      border: none;
      border-radius: 0.1rem;
      -webkit-border-radius: 0.1rem;
      line-height: 2rem;
      text-indent: 0.3rem; }
  .info-item .btn-delete {
    display: none;
    width: 2rem;
    text-align: right; }
    .info-item .btn-delete span {
      font-size: 1.5rem;
      line-height: 2rem;
      color: #999; }
  .info-item.edit-mode .info-category span {
    color: #999; }
  .info-item.edit-mode .info-input input {
    border: 1px solid #cccccc; }
  .info-item.edit-mode .btn-delete {
    display: block; }

.detail-item {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px; }
  .detail-item .select-category {
    color: #999; }
    .detail-item .select-category select {
      flex: 2;
      width: 90px;
      color: #999;
      -webkit-appearance: none;
      font-size: 14px;
      line-height: 20px;
      background: #fff;
      border: none; }
      .detail-item .select-category select:focus {
        outline: none; }
    .detail-item .select-category:after {
      position: absolute;
      top: 14px;
      left: 60px;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../res/select.png) center no-repeat;
      background-size: 16px auto; }
    .detail-item .select-category[select-disabled=true]:after {
      display: none; }
  .detail-item .underline-wrap {
    flex: 8;
    position: relative; }
    .detail-item .underline-wrap input {
      display: block;
      border: none;
      width: 100%;
      height: 30px;
      font-size: 14px;
      padding-right: 30px;
      box-sizing: border-box;
      border-bottom: 1px solid #DCDEE3; }
      .detail-item .underline-wrap input:focus {
        outline: none; }
      .detail-item .underline-wrap input:focus ~ .underline i {
        color: #0a7ec9;
        transform: perspective(1px) scale(0.75) translate3d(0px, -13px, 0px); }
      .detail-item .underline-wrap input:focus ~ .underline:after {
        left: 0;
        width: 100%; }
      .detail-item .underline-wrap input:valid ~ .underline i {
        color: #0a7ec9;
        transform: perspective(1px) scale(0.75) translate3d(0px, -13px, 0px); }
      .detail-item .underline-wrap input:disabled ~ .underline i {
        display: none; }
      .detail-item .underline-wrap input:disabled ~ span {
        display: none; }
      .detail-item .underline-wrap input:valid ~ span {
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 30px;
        height: 30px; }
        .detail-item .underline-wrap input:valid ~ span:before {
          position: absolute;
          top: 3px;
          right: 0;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../res/delete.png) center no-repeat;
          background-size: 16px 16px;
          content: ''; }
  .detail-item .underline {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
    -webkit-user-select: none; }
    .detail-item .underline i {
      position: absolute;
      color: #9b9b9b;
      font-size: 14px;
      font-weight: normal;
      white-space: nowrap;
      transform: scale(1) translate3d(0px, 7px, 0px);
      transform-origin: left top 0px;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      top: 0; }
    .detail-item .underline:after {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #0a7ec9;
      content: '';
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.btn-wrap {
  padding: 0 16px; }
  .btn-wrap a {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: white;
    border: none;
    border-radius: 3px;
    background: #3bc2b5;
    text-align: center;
    padding: 0 16px;
    margin: 10px 0;
    box-sizing: border-box; }
    .btn-wrap a.btn-delete {
      background: #ff6653; }

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); }
  .mask > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -130px);
    width: 300px;
    height: 130px;
    background: #fff;
    box-sizing: border-box;
    padding: 16px; }
  .mask .action-bar {
    position: absolute;
    right: 16px;
    bottom: 1.5rem;
    color: #cccccc; }
    .mask .action-bar .btn-cancel-item {
      font-size: 14px;
      padding: 8px 24px;
      border: 1px solid #ff6653;
      border-radius: 4px;
      color: #ff6653;
      margin-right: 0.5rem; }
    .mask .action-bar .btn-add-item {
      font-size: 14px;
      padding: 8px 24px;
      border: 1px solid #29A1E6;
      border-radius: 4px;
      color: #29A1E6; }
