<html>
<head>
    <title>名片扫当当</title>
    <title>Source Manufacturers, Suppliers, Exporters &amp; Importers on m.alibaba.com</title>
    <meta charset="utf-8"/>
    <meta name="keyword" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <!--<link rel="dns-prefetch" href="//u.alicdn.com"/>-->
    <link rel="stylesheet" type="text/css" href="http://114.55.143.176/css/list.css"/>
</head>
<body>
<div id="main-list" class="page">
    <div id="card-list" class="content infinite-scroll pull-to-refresh-content"
         data-distance="100" data-ptr-distance="44">
        <!-- 默认的下拉刷新层 -->
        <!--div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div-->
        <div class="list-empty hide"></div>
        <div class="sub-list"></div>
        <!-- 加载提示符 -->
        <!--div class="infinite-scroll-preloader">
            <div class="preloader">
            </div>
        </div-->
    </div>

    <div id="photo-container">
        <div id="photo-btn"><div class="btn_inner"></div></div>
    </div>

</div>
<script type="text/javascript" src="http://114.55.143.176/js/zepto.min.js"></script>
<script type="text/javascript" src="http://114.55.143.176/js/ddtalk.js"></script>
<script type="text/javascript" src="http://114.55.143.176/js/sui.js"></script>
<script type="text/javascript" src="http://114.55.143.176/js/list.js"></script>
</body>
<script type="text/html" id="template-card-list-item">
    <div class="sub-list-item">

    </div>
</script>
</html>